# GitHub Packages auth token
# Generate at: https://github.com/settings/tokens (needs read:packages scope)
//npm.pkg.github.com/:_authToken=${GH_NPM_TOKEN}

# smallcase internal registry auth token
# Get from team/internal docs
//npm.smallcase/:_authToken=<SMALLCASE_NPM_TOKEN>

@smallcase:registry=http://npm.smallcase
@tickertape:registry=https://npm.pkg.github.com
